@model IEnumerable<Agendas.Models.Paciente>

@{
	ViewData["Title"] = "Cadastro de Pacientes";
}

<div class="container">
	<h1 style="color: #19183B" class="text-center display-5 mt-5 mb-"><i class="bi bi-card-list"></i> Cadastro de<span class="fw-bold"> Pacientes</span></h1>

	<p class="text-center">
		<a asp-action="Create" style="color:#19183B; background-color : #708993; border-radius: 6px; border: 2px #19183B " class="btn mb-2"> <i class="bi bi-patch-plus"></i> Adicionar</a>
	</p>
	<table style="background-color: #708993" class="table my-5">
		<thead style="background-color: #708993">
			<tr style="color:#19183B">
				<th>
					Prontuário
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Nome)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CPF)
				</th>
				<th>
					Data Nascimento
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Celular)
				</th>
				<th>
					Email
				</th>
				<th>
					Ações
				</th>
			</tr>
		</thead>
		<tbody style="background-color: #A1C2BD">
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Prontuario)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CPF)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DataNascimento)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Celular)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						<a class="btn btn-sm" style="border:2px solid #0A400C; color: #0A400C" asp-action="Edit" asp-route-id="@item.PacienteId"> <i class="bi bi-pencil-square"></i>Editar</a> |
						<a class="btn btn-sm" style="border:2px solid #8C1007; color: #8C1007" asp-action="Delete" asp-route-id="@item.PacienteId"><i class="bi bi-trash"></i>Excluir</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>